*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height:100vh;
}

.container{
  display: flex;
  background-color: #f2dfd9;
}


@media (max-width: 500px) {
  .container{
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 215, 215);

  }
}


