/* sizing of Map Container */
.leaflet-container{
    height: 100vh;
    width:80vw;
  }
  
  .cluster-icon{
    height: 3rem;
    width:3rem;
    border-radius: 50%;
    background-color: rgb(208, 77, 77);
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .btn{
    position: relative;
    top: 0.2rem;
    left: 3rem;
    margin: 10px;
    padding: 0.5rem;
    background-color: rgb(83, 83, 220);
    color: white;
    font-size: 0.7rem;
    border-radius: 6px;
    z-index: 1000;
    cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}


.controls .input {
  display: flex;
  position: relative;
  left:4rem;
  align-items: center;
  gap: 5px;
  
}

.controls .input label {
  font-size: 1rem;
  z-index: 1000;

}

.controls .input input {
  width: 6rem;
  padding: 5px;
  font-size: 14px;
  z-index: 1000;
}
